@font-face {
  font-family: 'orkanicons';
  src:  url('./fonts/orkanicons.eot?29j05l');
  src:  url('./fonts/orkanicons.eot?29j05l#iefix') format('embedded-opentype'),
    url('./fonts/orkanicons.ttf?29j05l') format('truetype'),
    url('./fonts/orkanicons.woff?29j05l') format('woff'),
    url('./fonts/orkanicons.svg?29j05l#orkanicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'orkanicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-array:before {
  content: "\e906";
}
.icon-move:before {
  content: "\e905";
}
.icon-clone:before {
  content: "\e908";
}
.icon-dots:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e901";
}
.icon-data2:before {
  content: "\e022";
}
.icon-edit:before {
  content: "\e600";
}
.icon-calendar:before {
  content: "\e604";
}
.icon-picture:before {
  content: "\e608";
}
.icon-flash:before {
  content: "\e904";
}
.icon-sortable:before {
  content: "\e909";
}
.icon-play:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e91e";
}
.icon-arr:before {
  content: "\e605";
}
.icon-close:before {
  content: "\e900";
}
.icon-diamond:before {
  content: "\e902";
}
.icon-trash:before {
  content: "\e907";
}
.icon-v:before {
  content: "\e90a";
}
.icon-spinner:before {
  content: "\e90e";
}
.icon-clear:before {
  content: "\e910";
}
