@import '../../globals';

.Slider{
	.rc-slider-rail{
		background-color: #D1D4DE;
		height: 1px;
	}

	.rc-slider-track{
		background-color: #FA2949;
		height: 1px;
	}

	.rc-slider-handle{
		border-color: #FA2949;
		margin-top: -6px;
		&:focus{
			box-shadow: 0 0 0 2px rgba(250, 41, 73, .2);
		}
	}
}
