@import '../../../css/globals';

.Radio{
	font-size: $controlFontSizeLarge;
	line-height: $controlHeightLarge;
	overflow: hidden;
	label{
		float: left;
		margin-left: 20px;
		vertical-align: middle;
		&:first-child{
			// 1px instead of 0px to fix a weird quirk
			// in which the first checkbox is partially hidden
			margin-left: 1px;
		}

	}
	input{
		margin-right: 5px;
	}
}
