$darkColor: #121e20;


.root{
	height: 47px;
	padding: 0 37px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ffffff;
	font-size: 18px;
	border-radius: 5px;
	color: #ffffff;
	font-weight: 300;
}

.primary{
	font-weight: 500;
	color: #191D2B;
	background: #ffffff;
}