@import '../globals';

.OrkanListItem{
	@include smallListItemAnimation();
	cursor: pointer;
	padding: 0 15px;
	height: $headerSize;
	background: white;
	font-size: 15px;
	align-items: center;
	display: flex;
	border-bottom: 1px solid #D0D2D6;
	&:hover{
		.OrkanIcon{
			display: flex;
		}
	}
	.OrkanListItem-label{
		flex: 1;
		font-size: 13px;
		color: #71778A;
		display: flex;
	}

	> .OrkanIcon{
		margin-left: 5px;
		display: none;
		background: #F2F4F7;
		border-radius: 3px;
		width: 25px;
		height: 25px;
		justify-content: center;
		align-items: center;
		color: #191D2B;
		font-size: 13px;
		&:hover{
			background: $pink;
			color: #ffffff;
		}
	}
}