@import '../globals';

.OrkanListItem{
	@include smallListItemAnimation();
	cursor: pointer;
	padding: 0 15px;
	height: $headerSize;
	background: white;
	font-size: 15px;
	align-items: center;
	display: flex;
	border-bottom: 1px solid #D0D2D6;
	&:hover{
		> .OrkanActionButton{
			display: flex;
		}
	}
	.Img{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin-right: 8px;
	}
	.OrkanListItem-label{
		flex: 1;
		font-size: 13px;
		color: #71778A;
		display: flex;
	}

	> .OrkanActionButton{
		margin-left: 5px;
		display: none;
	}
}