@import '../../globals';


.root{
	> * {
		width: 100%;

	}
}

.optionsList{
	max-height: initial !important;
}

.input{

}

.picker{
	padding-top: 10px;
	width: 100%;
	background: #ffffff;
	font-size: 13px;
	:global(.DayPicker-NavBar){
		position: absolute;
		right: 8px;
		top: 1px;
		> span{
			position: static;
		}
	}

	:global(.DayPicker-Day--selected){
		background-color: $aqua !important;
		color: white;
	}

	:global(.DayPicker-Day--today){
		color: $aqua1 !important;
	}
}

