@import '../globals';


.root{
	width: 690px;
	height: 500px;
	display: flex;
	flex-direction: column;
	background: #ffffff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 12px 40px rgba(0,0,0,.3);
	@include globalFont;
}

.header{
	flex: 0 0 auto;
}

.actions{
	flex: 0 0 auto;
	height: $headerSize;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	background: #f2f4f7;
}

