@import '../../css/globals';


.root{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header{
	width: 100%;
}

.columnsContainer{
	width: 100%;
	max-width: $maxWidth;
	margin: 50px 0;
	display: flex;
	padding: 0 30px;
}


.sidebar{
	display: flex;
	flex-direction: column;
	font-size: 15px;
	flex: 0 0 auto;
	a{
		color: $secondary-1;
		margin-bottom: 10px;
		&:hover{
			color: $primary;
		}
		&.activeLink{
			color: $primary;
		}
	}
}

.sidebarHeader{
	color: $secondary;
	margin: 0 0 10px 0;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 14px;
}

.sidebarPagesList{
	display: flex;
	flex-direction: column;
	margin: 0 0 20px 0;
}

.pages{
	display: flex;
	flex-direction: column;
}

.content{
	padding-left: 50px;
	border-left: 1px solid #E2E2E2;
	margin-left: 50px;
	flex: 1;
}