@import '../globals';

@mixin size($config){
	height: map-get($config, controlHeight);
	font-size: map-get($config, controlFontSize);
}

.root{
	border-bottom: 1px solid $grey-5;
	//font-weight: 400;
	@include normalFont;
	color: $grey-2;
	display: flex;
	align-items: center;
	padding: 0 10px;
	white-space: nowrap;
	&:hover:not(.selected){
		background-color: $grey-6;
	}

}

.selected{
	background-color: $grey-5;
}

.small{
	@include size($smallConfig);
}

.medium{
	@include size($mediumConfig);
}

.large{
	@include size($largeConfig);
}
