@import '../globals';

@mixin size($config){
	.optionsList{
		max-height: map-get($config, controlHeight) * map-get($config, maxDropdownItems);
	}
	.option{
		height: map-get($config, controlHeight);
	}
}

.root{
	position: relative;
	-webkit-user-select: none;
	&:focus{
		outline: none;
		.optionsList{
			border-color: $grey-3;
		}
	}
}


.optionsList{
	list-style: none;
	padding: 0;
	margin: 2px 0 0 0;
	background-color: #ffffff;
	position: absolute;
	border-radius: 3px;
	overflow: {
		x: hidden;
		y: scroll;
	}
	min-width: 100%;
	z-index: 1000000;
	border: 1px solid $grey-4;
	box-shadow: 0 2px 0 2px rgba($grey-4, .2);
}

.option{
	@include smallListItemAnimation();
	@include globalFont;
	cursor: pointer;
	white-space: nowrap;
}

.emptyOption{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	padding: 0 10px;
	color: $gray;
}

.small{
	@include size($smallConfig);
}

.medium{
	@include size($mediumConfig);
}

.large{
	@include size($largeConfig);
}