@import '../globals';

$pink: #FA2949;
$HeaderHeight: 46px;


.OrkanDataForm {
	padding: 0 15px;
	margin: 0;
	.FormField{
		margin-top: 10px;
		.Media{
			max-width: 300px;
		}
	}
	.OrkanDataForm-actions {
		margin-top: 20px;
		text-align: right;
		.Button{
		}
	}
}