@import '../globals';


.root{
	margin: 0;
	padding: 0;

}


.header{
	.Input{
		display: block;
	}
}

.collectionHeader{
	height: $headerSize;
	background: #F2F4F7;
	display: flex;
	align-items: center;
	padding: 0 15px 0 10px;
	> .DropdownContainer{

	}
}

.collectionHeaderDropdown{
	margin-right: 5px;
}

.collectionHeaderDropdownIcon{
	font-size: 13px;
	width: 13px;
	height: 29px;
	border-radius: 3px;
	cursor: pointer;
	&:hover{
		background: #E4E7ED;
	}
}

.collectionHeaderInput{
	flex: 1;
	margin-right: 10px;
}