@import '../../globals';


@mixin size($height, $fontSize){
	// borders compensation
	$height: $height - 2px;

	.input{
		line-height: $height;
		font-size: $fontSize;
		padding: 0 ($height - $fontSize) / 2;
	}

	&.hasPreIcon{
		.input{
			padding-left: $height !important;
		}
	}

	&.hasPostIcon{
		.input{
			padding-right: $height !important;
		}
	}

	.preIcon{
		font-size: $fontSize * 0.91;
		left: 10px;
	}

	.postIcon{
		font-size: $fontSize * 0.91;
		right: 10px;
	}
}



.root{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}



.input{
	@include globalFont;
	@include inputLike();
	width: 100%;
	margin: 0;
	border-radius: 3px;
	resize: none;
	color: $gray;
	height: auto;
	&::placeholder{
		color: $grey5;
	}
	&:focus{
		@include inputLike(); // to prevent override
		border-color: $aqua;
		box-shadow: inset 0 4px 0 0 $aqua-1;
	}

}

.preIcon, .postIcon{
	position: absolute;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	width: auto;
}



.error{
	.input{
		border-color: $pink;
		box-shadow: inset 0 3px 0 0 $pink-1;
		color: $pink;
	}
}


.small{
	@include size($controlHeightSmall, $controlFontSizeSmall);
}

.medium{
	@include size($controlHeightMedium, $controlFontSizeMedium);
}

.large{
	@include size($controlHeightLarge, $controlFontSizeLarge);
}