
.App{
	height: 100%;
	padding: 20px 20px;
	font-family: "Roboto";
	.hero{
		height: 300px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		//background: #00d0ff;
		position: relative;
		.Img{
			position: absolute !important;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
		}
		h2{
			font-size: 3rem;
			font-weight: 400;
			margin: 0;
			z-index: 2;
		}
		a{
			margin-top: 40px;
			font-size: 2rem;
			color: black;
			background: white;
			padding: 15px 20px;
			font-weight: 300;
			z-index: 2;

		}
	}
	> h2{
		font-size: 2.4rem;
		text-align: center;
		font-weight: 400;
		margin-top: 60px;
	}
	.Collection{
		margin-top: 20px;
		> div{
			background: #eaeff3;
			padding: 20px 30px;
			margin-bottom: 20px;
			img{
				width: 200px;
			}
			> span{
				font-size: 1.5rem;
			}
			h3{
				font-size: 2.3rem;
				font-weight: 400;
				margin: 10px 0 0 0;
			}
			p{
				font-size: 2rem;
				font-weight: 300;
				white-space: pre;
			}
		}
	}
}
