$darkColor: #121e20;

@mixin thinFont(){
	font-weight: 100;
}

@mixin lightFont(){
	font-weight: 300;
}

@mixin normalFont(){
	font-weight: 400;
}

@mixin mediumFont(){
	font-weight: 500;
}

.root{
	height: 100%;
	//padding: 20px 20px;
	font-family: "Roboto";
	*{
		box-sizing: border-box;
	}
	a{
		text-decoration: none;
	}
	//h2, h3{
	//	margin: 0;
	//}
}

.header{
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s ease-out;
}

.compactHeader{
	height: 45px;
	background: #FA2949;
	.logo{
		//color: #000000;
		font-size: 20px;
	}

	.menu{
		li{
			a{
				font-size: 14px;
				//color: #000000;
			}
		}
	}
}

.headerCenter{
	padding: 0 30px;
	max-width: 1215px;
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo{
	font-size: 25px;
	color: #ffffff;
	transition: all .3s ease-out;
	@include mediumFont;
	span{
		@include thinFont;
	}
}

.menu{
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	li{
		margin-left: 50px;
		a{
			transition: all .3s ease-out;
			@include lightFont;
			font-size: 16px;
			color: #ffffff;
		}
	}
}

.hero{
	height: 620px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.heroImg{
	position: absolute !important;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.heroTitle{
	@include thinFont;
	font-size: 50px;
	margin: 80px 0 0 0;
	z-index: 2;
	color: #ffffff;
	text-align: center;
	strong{
		@include mediumFont;
		font-style: normal;
	}
	p{
		margin: 0 0 20px;
		padding: 0;
	}
}

.heroActions{
	z-index: 2;
	margin-top: 30px;
	> * {
		margin: 0 8px;
	}
}




.features{
	display: flex;
	justify-content: center;
}

.featuresCenter{
	max-width: 1215px;
	flex: 1;
	padding: 100px 0 20px 0;
	position: relative;
}

.featuresTitle{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	@include lightFont;
	font-size: 40px;
	color: #FA2949;
	margin: 0;
}

.featuresList{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.featureItem{
	display: flex;
	align-items: center;
	width: 350px;
	margin-bottom: 80px;
	&:nth-child(2n){
		margin-left: 420px;
	}
}

.featureImg{
	width: 75px;
	height: 75px;
}

.featureInfo{
	flex: 1;
	margin-left: 30px;
}

.featureTitle{
	@include normalFont;
	font-size: 20px;
	color: #191D2B;
	margin: 0;
}

.featureBody{
	@include lightFont;
	font-size: 15px;
	color: #71778A;
	margin-top: 12px;
}



.examples{
	background: #191D2B;
	display: flex;
	align-items: center;
	justify-content: center;
}

.examplesCenter{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 1215px;
	flex: 1;
	padding: 100px 0;
}

.examplesTitle{
	font-size: 40px;
	color: #ffffff;
	@include thinFont;
	margin: 0;
}

.examplesList{
}

.exampleItem{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-top: 100px;
}

.exampleCode{
	margin-left: 130px;
	width: 520px;
}

.exampleInfo{
	display: flex;
	flex-direction: column;
	width: 270px;
	margin-left: 250px;
}

.exampleTitle{
	@include lightFont;
	font-size: 20px;
	color: #ffffff;
	margin: 0;

}

.exampleBody{
	@include thinFont;
	margin-top: 12px;
	font-size: 15px;
	color: #A7ADC0;
}

.exampleLink{
	@include thinFont;
	font-size: 15px;
	color: #ffffff;
	margin-top: 10px;
}










.promo{
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.promoImg{
	position: absolute !important;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.promoTitle{
	@include thinFont;
	font-size: 40px;
	margin: 0;
	z-index: 2;
	color: #ffffff;
	text-align: center;
	strong{
		@include mediumFont;
		font-style: normal;
	}
	p{
		margin: 0 0 20px;
		padding: 0;
	}
}

.promoCta{
	z-index: 2;
	margin-left: 60px;
}





.footer{
	z-index: 100;
	height: 150px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.footerCenter{
	padding: 0 30px 30px 30px;
	max-width: 1215px;
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.footerLogo{
	font-size: 20px;
	color: #A7ADC0;
	@include mediumFont;
	span{
		@include thinFont;
	}
}

.footerMenu{
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	li{
		margin-left: 50px;
		a{
			@include lightFont;
			font-size: 14px;
			color: #A7ADC0;
		}
	}
}