@import '../../css/globals';


.root{
	color: $secondary;
	h2, h3, p, li{
		@include normalFont;
		margin: 0;
	}

	h2{
		font-size: 24px;
	}

	h3{
		font-size: 20px;
		margin-top: 40px;
	}

	p{
		margin-top: 20px;
		color: $secondary-1;
		line-height: 24px;

	}

	a{
		color: $secondary;
		&:hover{
			color: $primary;
		}
	}

	strong{
		@include mediumFont;
	}

	ul{
		margin: 20px 0 0 0;
		li{
			color: $secondary-1;
			line-height: 24px;
		}
	}

}