@import '../globals';


.root{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background: #ffffff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 12px 40px rgba(0,0,0,.3);


	#firebaseui_container{
		margin: 20px 0 0 0;
		ul{
			margin: 0;
			li{
				&:last-child{
					margin: 0;
				}
			}
		}
	}
}

.header{
	font-family: 'Roboto';
	font-size: 15px;
	padding: 0;
	margin: 0;
	text-align: center;
	font-weight: 400;
}

.spinner{
	margin-top: 20px;
}