@import '../globals';


.OrkanSchemaEditor{
	font-size: 13px;
	padding: 0 15px;
	.OrkanSchemaEditor-field{
		&.OrkanSchemaEditor-field-open{
			> .OrkanSchemaEditor-field-label{
				> .OrkanIcon{
					transform: rotateZ(90deg);
				}
			}
		}
		> .OrkanSchemaEditor-field-label{
			height: 27px;
			display: flex;
			align-items: center;
			//justify-content: space-between;
			> .OrkanIcon{
				flex: 0 0 auto;
				margin-right: 5px;
				font-size: 7px;
				color: #D0D2D6;
				cursor: pointer;
			}

			> .OrkanSchemaEditor-field-name{
				cursor: pointer;
				flex: 1;
				color: #71778A;
				animation: newItemAnimation;
				animation-duration: 2.3s;
			}

			> .OrkanSchemaEditor-field-actions{
				display: none;
				flex: 0 0 auto;
				.OrkanActionButton{
					margin-left: 5px;
				}
			}

			&:hover{
				> .OrkanSchemaEditor-field-name{
					color: #000000;
				}
				> .OrkanSchemaEditor-field-actions{
					display: flex;
				}
			}
		}
		> .OrkanSchemaEditor-field-children{
			> .OrkanSchemaEditor-field-create{
				@include smallListItemAnimation(false);
				height: 35px;
				display: flex;
				align-items: center;
				.Input{
					flex: 1;
				}
			}
			overflow: hidden;
			padding-left: 15px;
			border-left: 1px dotted #d0d2d6;
		}
	}
}


@keyframes newItemAnimation{
	from{
		color: $pink;
	}

	to{
		color: #71778A;
	}
}