@import '../globals';

.root{
	margin: 0;
	background: #F2F4F7;
	color: #191D2B;
	position: relative;
	font-weight: 400;
	font-size: 13px;
	padding: 0 15px;
	display: flex;
	height: $headerSize;
	align-items: center;
}

.title{
	font-family: 'Roboto';
	flex: 1;
	margin-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.icon{
	color: #000000;
	padding: 5px;
	cursor: pointer;
}


.primary{
	background: $pink;
	color: #ffffff;
	.icon {
		color: #ffffff;
	}
}