@import '../../globals';

.root{
	display: inline-flex;
	> span{
		display: inline-flex;
		width: 19px;
		height: 19px;
		@include inputLike();
		border-radius: 3px;
		align-items: center;
		justify-content: center;

	}

}

.icon{
	opacity: 0;
	font-size: 7px;
	color: $grey6;
}

.checked{
	.icon{
		opacity: 1;
	}
}

.disabled{
	opacity: 0.5;
	cursor: default;
}
