@import '../../globals';

.root{
	display: flex;
	flex-direction: column;
	:global(.ql-toolbar){
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		border-color: #D1D4DE;
		background-color: #F2F4F7;
		border-radius: 3px 3px 0 0;
		:global(.ql-formats){
			margin: 0;
		}
	}

	:global(.ql-container){
		flex: 1;
		display: flex;
		@include inputLike;
		border-color: #D1D4DE;
		border-radius: 0 0 3px 3px;
		:global(.ql-editor){
			flex: 1;
			@include normalFont;
			h1{
				@include mediumFont;
				margin-top: 20px;
			}
			h2{
				@include mediumFont;
				margin-top: 20px;
			}
			h3{
				@include mediumFont;
				margin-top: 20px;
			}
			h4{
				margin-top: 20px;
			}
			h5{
				margin-top: 20px;
			}
			p{
				margin-top: 5px;
			}
			a{

			}
			strong{
				@include mediumFont;
			}
		}
	}
	:global(.ql-tooltip){
		z-index: 1;
	}
}
