@import '../../globals';

.root{
	display: flex;
	flex-direction: column;
	:global(.ql-toolbar){
		white-space: nowrap;
		//overflow: hidden;
		text-overflow: ellipsis;
	}

	:global(.ql-container){
		flex: 1;
		display: flex;
	}
	:global(.ql-tooltip){
		z-index: 1;
	}
}