@import '../../globals';

@mixin size($config){
	.selectedOption{
		font-size: map-get($config, controlFontSize);
		line-height: map-get($config, controlHeight);
		height: map-get($config, controlHeight);
		padding: 0 map-get($config, controlHeight) 0 10px;
	}

	.toggleButton{
		width: map-get($config, controlHeight);
		line-height: map-get($config, controlHeight);
		> *{
			font-size: map-get($config, controlIconSize);
		}
	}
}

.root{
	position: relative;
	display: inline-block;
	-webkit-user-select: none;
	min-width: 100px;
	cursor: default;
	@include globalFont;


}



.selectedOption{
	@include inputLike();
	color: $gray;
	background: #ffffff;
	border-radius: 3px;
	resize: none;
}

.toggleButton{
	height: 100%;
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	text-align: center;
	cursor: pointer;
	> *{
		transform: rotateZ(90deg);
		color: $grey6;
	}
}

.open{
	.selectedOption{
		border-color: $aqua;
		box-shadow: inset 0px 4px 0px 0px $aqua-1;
	}
}

.noValue{
	.selectedOption{
		color: $grey5;
	}
}

.small{
	@include size($smallConfig);
}

.medium{
	@include size($mediumConfig);
}

.large{
	@include size($largeConfig);
}