@import '../globals';

.OrkanUsersRequests{
	background: #ffffff;
	.OrkanUsersRequests-header{
		cursor: pointer;
		padding: 0 15px;
		background: $primary;
		height: $headerSize;
		display: flex;
		align-items: center;
		.OrkanUsersRequests-title{
			color: #000000;
			font-size: 15px;
			flex: 1;
			margin-left: 5px;
		}
		.OrkanIcon{
			color: #000000;
			font-size: 18px;
		}

		.OrkanUsersRequests-toggle-button{
			font-size: 13px;
			transform: rotateZ(90deg);
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

	}
	.OrkanUsersRequests-request{
		.Img{
			width: 25px;
			height: 25px;
			border-radius: 50%;
			margin-right: 5px;
		}
	}
}
