@import '../globals';

.root {
	background: #ffffff;
	display: flex;
	flex-direction: column;
	min-width: 300px;
}

.header{

}

.form{
	padding: 0 15px 15px 15px;
}

.formField{
	margin-top: 15px;
	flex: 0 0 auto;
}

.actions {
	margin-top: 20px;
	text-align: right;
}
