@import '../normalize';
@import '../globals';

$HeaderHeight: 46px;


.OrkanSettingsPanel{
	display: flex;
	flex-direction: column;
	background: white;
	border-right: 2px solid rgba(0,0,0,.1);
	.Form{
		padding: 0 15px;
		.FormField{
			margin-top: 10px;
			//@include smallListItemAnimation();
		}
		.OrkanSettingsPanel-actions {
			margin-top: 20px;
			text-align: right;
		}
	}
	.Header-title{
		span{
			font-size: 13px;
			color: #71778A;
			margin-left: 10px;
		}
	}
}