@import '../globals';



@mixin size($height, $fontSize){
	font-size: $fontSize;
	height: $height;

	.label{
		$sidePadding: ($height - $fontSize) / 1.1;
		padding: 0 $sidePadding;
		display: flex;
		font-size: $fontSize;
		.Icon{
			font-size: $fontSize * 1.1;
		}
	}

	&.square{
		width: $height !important;
		height: $height;
		letter-spacing: normal !important;
		.label{
			padding: 0;
		}
	}
}

@mixin style($baseColor, $textColor){
	background: $baseColor;
	color: $textColor;
}


.root{
	display: inline-flex;
	border-radius: 3px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	position: relative;
	overflow: hidden;
	border: 0;
	cursor: pointer;
	align-items: center;
	justify-content: center;

	letter-spacing: 0.05rem;
	vertical-align: middle;
	&:focus{
		outline: none;
	}
	&:hover{
		.label{
			transform: scale3d(0.98, 0.98, 1);
		}
	}
}



.spinner{
	transition: all .2s ease;
	position: absolute;
	opacity: 0;
	transform: translate3d(0, -50%, 0);
}

.label{
	line-height: 1;
	transition: all .2s ease;

	.Icon{
		vertical-align: middle;
	}
	span{
		vertical-align: middle;
	}
}

.disabled{
	opacity: 0.5;
	cursor: default;
}

.busy{
	.label{
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}

	.spinner{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


.secondary{
	@include style($grey1, $gray);
}

.important{
	@include style($primary, #ffffff);
}

.primary{
	@include style(#343A4D, #ffffff);
}


.small{
	@include size($controlHeightSmall, $controlFontSizeSmall);
}

.medium{
	@include size($controlHeightMedium, $controlFontSizeMedium);
}

.large{
	@include size($controlHeightLarge, $controlFontSizeLarge);
}