@import '../../css/globals';

.root{
}


.hero{
	height: 620px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
	background: $primary;
}

.heroImg{
	position: absolute !important;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.heroTitle{
	@include thinFont;
	font-size: 50px;
	margin: 80px 0 0 0;
	z-index: 2;
	color: #ffffff;
	text-align: center;
	strong{
		@include mediumFont;
		font-style: normal;
	}
	p{
		margin: 0 0 20px;
		padding: 0;
	}
}

.heroActions{
	z-index: 2;
	margin-top: 30px;
	> * {
		margin: 0 8px;
		transition: transform .2s ease-out;
		&:hover{
			transform: scale(1.05);
		}
	}

	.demoButton{
		cursor: pointer;
		background: url('../../img/hero-button-bg.svg') no-repeat;
		background-position: 0px 100px;
		background-size: 100%;
		transition: background-position .4s ease-out, transform .2s ease-out;
		&:hover{
			background-position: 0px 14px;
			transform: scale(1.05);
		}
	}
}




.features{
	display: flex;
	justify-content: center;

}

.featuresCenter{
	max-width: $maxWidth;
	flex: 1;
	padding: 100px 30px 20px 30px;
	position: relative;
	height: 615px;
}

.featuresTitle{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	@include lightFont;
	font-size: 40px;
	color: #FA2949;
	margin: 0;
}

.featuresList{
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}

.featureItem{
	$columnWidth: 350px;
	display: flex;
	align-items: center;
	width: $columnWidth;
	margin-bottom: 80px;
	&:nth-child(2n){
		margin-left: calc(100% - #{$columnWidth*2})
	}
}

.featureImg{
	width: 75px;
	height: 75px;
}

.featureInfo{
	flex: 1;
	margin-left: 30px;
}

.featureTitle{
	@include normalFont;
	font-size: 20px;
	color: #191D2B;
	margin: 0;
}

.featureBody{
	@include lightFont;
	font-size: 15px;
	color: #71778A;
	margin-top: 12px;
}



.examples{
	background: #191D2B;
	display: flex;
	align-items: center;
	justify-content: center;
}

.examplesCenter{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: $maxWidth;
	flex: 1;
	padding: 100px 0;
}

.examplesTitle{
	font-size: 40px;
	color: #ffffff;
	@include thinFont;
	margin: 0;
}

.examplesList{
}

.exampleItem{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-top: 100px;
}

.exampleCode{
	margin-left: 93px;
	width: 610px;
	background: #1D2234;
}

.exampleInfo{
	display: flex;
	flex-direction: column;
	width: 270px;
	margin-top: 25px;
}

.exampleTitle{
	@include lightFont;
	font-size: 20px;
	color: #ffffff;
	margin: 0;

}

.exampleBody{
	@include thinFont;
	margin-top: 12px;
	font-size: 15px;
	color: #A7ADC0;
}

.exampleLink{
	@include thinFont;
	font-size: 15px;
	color: #ffffff;
	margin-top: 10px;
	align-self: flex-start;
}










.promo{
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.promoImg{
	position: absolute !important;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.promoTitle{
	@include thinFont;
	font-size: 40px;
	margin: 0;
	z-index: 2;
	color: #ffffff;
	text-align: center;
	strong{
		@include mediumFont;
		font-style: normal;
	}
	p{
		margin: 0 0 20px;
		padding: 0;
	}
}

.promoCta{
	z-index: 2;
	margin-left: 60px;
}


