@import '../../globals';


@mixin size($height, $fontSize){

	// borders compensation
	$height: $height - 2px;

	.input{
		line-height: 1.3;
		font-size: $fontSize;
		padding: 5px ($height - $fontSize) / 2;
	}
	&.codeFriendly{
		.input{
			font-size: $fontSize * 0.9;
		}
	}
}

.root{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}




.input{
	height: auto;
	min-height: auto;
	display: block;
	width: 100%;
	margin: 0;
	border-radius: 3px;
	resize: none;
	color: $grey-2;
	@include inputLike;
	tab-size: 3;
	&:focus{
		@include inputLikeFocused;
		color: $grey-1;
		outline: none;
	}
}

.codeFriendly{
	.input{
		@include monoFont;
	}
}


.small{
	@include size($controlHeightSmall, $controlFontSizeSmall);
}

.medium{
	@include size($controlHeightMedium, $controlFontSizeMedium);
}

.large{
	@include size($controlHeightLarge, $controlFontSizeLarge);
}