@import '../../globals';


@mixin size($height, $fontSize){

	// borders compensation
	$height: $height - 2px;

	.input{
		line-height: 1.3;
		font-size: $fontSize;
		padding: 5px ($height - $fontSize) / 2;
	}
}

.root{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}




.input{
	height: auto;
	min-height: auto;
	display: block;
	width: 100%;
	margin: 0;
	border: 1px solid $lightGray2;
	border-radius: 3px;
	resize: none;
	transition: border-color linear .2s;
	box-shadow: inset 0px 3px 0px 0px darken($lightGray, 1%);
	color: $gray;
	&:focus{
		border-color: $aqua;
		box-shadow: inset 0px 4px 0px 0px $aqua-1;
	}
}


.small{
	@include size($controlHeightSmall, $controlFontSizeSmall);
}

.medium{
	@include size($controlHeightMedium, $controlFontSizeMedium);
}

.large{
	@include size($controlHeightLarge, $controlFontSizeLarge);
}