@import './icons.css';

.OrkanIcon{
	display: inline-flex;
	justify-content: center;
	align-items: center;

	//&:before{ // this fixes weird vertical offset from icomoon
	//	vertical-align: middle;
	//}

	&.OrkanIcon-small{
		font-size: 1rem;
	}

	&.OrkanIcon-medium{
		font-size: 1.3rem;
	}

	&.OrkanIcon-large{
		font-size: 1.5rem;
	}

	&.OrkanIcon-huge{
		font-size: 2rem;
	}
}