@import '../globals';

.root{
	background: #ffffff;
}

.header{
	cursor: pointer;
	padding: 0 15px;
	background: $primary;
	height: $headerSize;
	display: flex;
	align-items: center;
}

.headerTitle{
	color: #000000;
	font-size: 15px;
	flex: 1;
	margin-left: 5px;
}
.headerIcon{
	color: #000000;
	font-size: 18px;
}

.toggleButton{
	font-size: 13px;
	transform: rotateZ(90deg);
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}