@import '../globals';



.root{
	@include smallListItemAnimation();
	cursor: pointer;
	padding: 0 15px;
	height: $headerSize;
	background: white;
	font-size: 15px;
	align-items: center;
	display: flex;
	border-bottom: 1px solid #D0D2D6;
	&:hover{
		> .actionButton{
			display: flex;
		}
	}
}

.img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 8px;
}
.label{
	flex: 1;
	font-size: 13px;
	color: #71778A;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.actionButton{
	margin-left: 5px;
	display: none;
}