@import '../globals';




@mixin size($size: 1){
	padding: 10px * $size 10px * $size (10px * $size) + (3px * $size) 10px * $size;
	box-shadow: inset 0 -1px 0 1px $lightGray2,
	inset 0 -4px 0 1px $lightGray1;

	.content{
		font-size: 13px * $size;
		margin-top: 10px * $size;
		height: 13px * $size;
	}

	.actions{
		padding: 10px * $size;
	}

	.actionButton{
		margin-bottom: 5px * $size;
	}
}



.root{
	position: relative;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	border-radius: 5px;
	&:hover{
		.actions{
			display: block;
		}
	}
}

.topContainer{
	position: relative;

}

.img, .video{
	width: 100%;
}

.placeholder{
	width: 100%;
	height: 100%;
	position: relative;
}

.placeholderIcon{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	font-size: 100px;
	background: $lightGray1;
	color: $lightGray3;
}

.actions{
	display: none;
	position: absolute;
	background: rgba(#000000, 0.7);
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	> * {
		display: flex;
	}
}

.content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	word-break: break-all;
}

.rightLabel{
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1;
}

.leftLabel{
	line-height: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}


.small{
	@include size(0.8);
}

.medium{
	@include size(1);
}

.large{
	@include size(1.2);
}
