@import '../normalize';
@import '../globals';

.Orkan {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999999999999999;
	pointer-events: none;
	display: flex;
	flex-direction: row;
	form{
		margin: 0;
	}
	> * {
		pointer-events: all;
	}
	&.Orkan-disabled{
		pointer-events: all;
		user-select: none;
	}
	.OrkanAuth{
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate3d(-50%, 0, 0);
		animation: orkanAuthAnimation;
		animation-duration: .2s;
		animation-timing-function: ease-in-out;

	}
	.Orkan-ui {
		@include listItemAnimation(false);
		z-index: 1000000000000000000000;
		ul{
			list-style: none;
			padding: 0;
		}
		* {
			text-decoration: none;
			box-sizing: border-box;
			outline: none;
			-webkit-font-smoothing: antialiased;
			-ms-text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%;
			font-family: 'Roboto', sans-serif;
		}
		.Sidebar-content{
			position: fixed;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			flex: 1;
			padding: 0;
			background: #ffffff;
			> .OrkanSpinner{
				margin-top: 40px;
				text-align: center;
			}
			> .OrkanHeader{
				flex: 0 0 auto;
				.OrkanHeader-title{
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					span {
						display: inline-block;
						@include smallListItemAnimation(false);
						cursor: pointer;
						margin: 0 2px;
						&:first-child{
							margin-left: 0;
						}
						&:hover{
							text-decoration: underline;
						}

					}
				}
			}

			> .Orkan-ui-scroll{
				display: flex;
				flex: 1;
				flex-direction: column;
				overflow-y: auto;
				.OrkanDataForm {
					margin: 0 0 20px 0;
				}
			}

			> .Orkan-ui-footer{
				height: $headerSize;
				padding: 0 15px;
				background: #343A4D;
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: #A7ADC0;
				.Orkan-ui-footer-auth{
					display: flex;
					align-items: center;
					font-size: 13px;
					span{
						&:hover{
							text-decoration: underline;
							cursor: pointer;
						}
					}
					.Img{
						border-radius: 50%;
						width: 25px;
						height: 25px;
						margin-right: 8px;
					}
				}
			}

			.OrkanSettingsPanel{
				@include listItemAnimation(false);
				position: absolute;
				left: 100%;
				width: 300px;
				height: 100%;
				top: 0;
				z-index: -1; // so it always be under the main panel for animations
			}
		}
	}
}