@import '../globals';


.root{
	position: relative;
	display: flex;
	flex-direction: column;
	&:hover{
		.settings{
			opacity: 1;
		}
	}
}



.settings{
	cursor: pointer;
	font-size: 10px;
	color: #A6AAB6;
	position: absolute;
	top: 2px;
	right: 0;
	opacity: 0;
	transition: opacity .2s ease-in-out;
	&:hover{
		text-decoration: underline;
	}
}

.label{
	margin: 0;
	font-size: 13px;
	font-weight: 400;
	transition: color .2s linear;
	vertical-align: top;
	color: #71778A;
	margin-bottom: 5px;
}

.input{
	position: relative;
	vertical-align: top;
	line-height: initial;
	> *{
		width: 100%;
	}
}

.disabled{

}

.error{
	.label{
		color: #f6003a !important;
	}
}