@import '../globals';


.root{
	font-size: 13px;
	padding: 0 15px;
}

.field{

}

.fieldContent{
	height: 27px;
	display: flex;
	align-items: center;
	&:hover{
		.fieldLabel{
			color: #000000;
		}
		.fieldActions{
			display: flex;
		}
	}
}

.fieldLabel{
	cursor: pointer;
	flex: 1;
	color: #71778A;
	animation: newItemAnimation;
	animation-duration: 2.3s;
}

.fieldToggleIcon{
	flex: 0 0 auto;
	margin-right: 5px;
	font-size: 7px;
	color: #D0D2D6;
	cursor: pointer;
}


.fieldActions{
	display: none;
	flex: 0 0 auto;
}

.fieldActionButton{
	margin-left: 5px;
}

.fieldChildren{
	overflow: hidden;
	padding-left: 15px;
	border-left: 1px dotted #d0d2d6;
}

.fieldCreate{
	@include smallListItemAnimation(false);
	height: 35px;
	display: flex;
	align-items: center;
}

.fieldCreateInput{
	flex: 1;
}



.openField{
	> .fieldContent{
		> .fieldToggleIcon{
			transform: rotateZ(90deg);
		}
	}
}

@keyframes newItemAnimation{
	from{
		color: $pink;
	}

	to{
		color: #71778A;
	}
}